{% extends "base.html" %}

{% block content %}

<div class="title is-1">Salas disponibles:</div>
<hr>
<div class="columns is-multiline is-mobile" id="room_list">
{% for room in rooms %}
    <div class="column is-one-quarter">
        <div class="box has-text-centered" style="background-color: darkslategray; margin-left: 5px;">
            <div class="column">
                <h1 class="title is-3">{{room.name}}</h1>
                <h2 class="subtitle is-5">Capacidad de {{room.capacity}} personas</h2>
            </div>
            <br>
            <button class="button booker is-success is-centered" id={{room.id}}>Reservar sala</button>
        </div>
    </div>
    <br>
{% endfor %}
</div>

<div class="modal" id="modal" >
    <div class="modal-background"></div>
    <div class="modal-content">
      <form method="POST" action="/book" class="form-container">
        <div class="field" style="width: 33%;">
            <label for="date">Fecha: </label>
            <input class="input is-medium" type="date" id="date" name="date" placeholder="Fecha" required>
        </div>
        <div class="field" style="width: 33%;">
            <label for="hour">Hora: </label>
            <select class="input is-medium" name="hour" id="hour">
                <script type="text/javascript">
                    for (let index = 8; index <= 20; index++) {
                        document.write("<option>"+ index +":00</option>")               
                    }
                </script>
            </select>
        </div>
        <br>
        <div class="field has-centered-text">
          <button class="button is-success" type="submit">Ver salas</button>
          <button class="button is-danger" id="closeBtn">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <p>
    <a class = "button is-danger is-primary modal-button" data-target = "#modal">Modificar fecha y hora</a>
  </p>

  <script>
    $(".modal-button").click(function() {
       var target = $(this).data("target");
      //  $("html").addClass("is-clipped");
       $(".modal").addClass("is-active");
    });
    
    $("#closeBtn").click(function() {
      $(".modal").removeClass("is-active");
    });

    $(".booker").click(function(){
        var room_id = this.id;
        var form_data = new FormData();
        form_data.append("room_id", room_id);
        form_data.append("date_time", "{{date_time}}");

        fetch('/reserve', {
            method : 'POST',
            body: form_data 
        }).then(res => res.json())
        .then(data => {
            if(data.success) {
                window.location.replace('/profile')
            } else {
                alert("Server response error")
            }
        }).catch(err => console.log(err));
    });
 </script>

{% endblock %}