{% extends "base.html" %}

{% block content %}
<div class="column"> 
  <h1 class="title">
    Bienvenido, {{name}}!
  </h1>

  <div class="modal" id="modal" >
    <div class="modal-background"></div>
    <div class="modal-content">
      <form method="POST" action="/book" class="form-container">
        <div class="field" style="width: 33%;">
            <label for="date">Fecha: </label>
            <input class="input is-medium" type="date" id="date" name="date" placeholder="Fecha" required>
        </div>
        <div class="field" style="width: 33%;">
            <label for="hour">Hora: </label>
            <select class="input is-medium" name="hour" id="hour">
                <script type="text/javascript">
                    for (let index = 8; index <= 20; index++) {
                        document.write("<option>"+ index +":00</option>")               
                    }
                </script>
            </select>
        </div>
        <br>
        <div class="field has-centered-text">
          <button class="button is-success" type="submit">Ver salas</button>
          <button class="button is-danger" id="closeBtn">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger is-small">
          <button class="delete"></button>
          {{ messages[0] }}.
      </div>
  {% endif %}
  {% endwith %}
  <p>
    <a class = "button is-success modal-button" data-target = "#modal">Realizar nueva reserva</a>
  </p>
  <hr>
  <div>
    <h2 class="subtitle is-4">Mis reservas:</h2>
  </div>
  <br>
  <div class="columns is-multiline is-mobile">
    {% for booking in bookings %}
    <div class="column  is-one-fifth ">
      <div class="box" style="background-color: darkslategray; margin-left: 5px;">
        <h1 class="title is-4 has-text-centered">{{booking.name}}</h1>
        <h2 class="subtitle is-5 has-text-centered">{{booking.date_time}}</h2>
        <div class="field has-text-centered">
          <button class="button cancel-button is-danger" id="{{booking.name}} {{booking.date_time}}">Cancelar</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $(".modal-button").click(function() {
     var target = $(this).data("target");
    //  $("html").addClass("is-clipped");
     $(".modal").addClass("is-active");
  });
  
  $("#closeBtn").click(function() {
    $(".modal").removeClass("is-active");
  });

  $(".cancel-button").click(function() {
    console.log(this.id);
    var id = this.id;
    var form_data = new FormData();
    form_data.append("id", id);

    fetch('/cancel', {
            method : 'POST',
            body: form_data 
        }).then(res => res.json())
        .then(data => {
            if(data.success) {
                window.location.reload()
            } else {
                alert("Server response error")
            }
    }).catch(err => console.log(err));
  });

  $(".delete").click(function (){
    $(this).parent().addClass('is-hidden').remove();
  });
</script>
{% endblock %}